# DB_NAME=rmb
# DB_USER=user
# DB_PASSWORD=pass

# # ALI MAC DATABASE
# DB_HOST=postgres
# # DB_HOST=<remote-ip>
# DB_PORT=5432
# DB_NAME=rmb
# DB_USER=user
# DB_PASSWORD=pass

# MUSCO SQL UBUNTU
# DB_HOST=<remote-ip>

# get this file over to the ubuntu server as the following
# scp .env muscosql@192.168.1.56:~/RMB-POC/.env

# ---------- MAIN DATABASE ----------
DB_HOST=MY_IP
DB_PORT=5432
DB_NAME=muscosql
DB_USER=ali
DB_PASSWORD=duboy
DATABASE_URL=postgresql://ali:duboy@MY_IP:5432/muscosql_test

# ---------- TEST DATABASE ----------
TEST_DB_HOST=MY_IP
TEST_DB_PORT=5432
TEST_DB_NAME=muscosql_test
TEST_DB_USER=ali
TEST_DB_PASSWORD=duboy
TEST_DATABASE_URL=postgresql://ali:duboy@MY_IP:5432/muscosql_test