# Python
__pycache__/
*.py[cod]
*$py.class

# Python envs
.venv/
venv/

# Environment variables
.env
.env.*

# DuckDB / local databases
*.duckdb
*.duckdb.wal
*.sqlite3

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# logs
*.log

# raw/local data files
data/*.tsv
data/*.csv
data/*.txt

# keep sample data and folder structure
!data/sample/
!data/sample/**
!data/.gitkeep

# generated/processed data
data/processed/
data/error/